.git/ export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.tags export-ignore
_config.yml export-ignore
docs/ export-ignore
.editorconfig export-ignore
emuera.config export-ignore
release.sh
patch.sh